{% extends 'index.html'%}
{% block title %}Home{% endblock title %}
{% block body%}
    <form method="POST" enctype="multipart/form-data" action="/">
        <input type="file" id="myFile" name="uploaded-file" accept=".jpg">
        <button button type="submit" class="btn btn-outline-dark btn-sm mx-1" value="Submit">Submit</button>
    </form>
  <br>
  <p style="color:blue;">Choose csv file to upload</p>
  <form action="/show_data" target="_blank">
    <button button type="submit" class="btn btn-outline-dark btn-sm mx-1" value="Show Image">Show Image</button>
  </form>
{% endblock body%}
